<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>BinaryKits.Zpl.Viewer.WebApi</title>
    <script src="https://unpkg.com/vue@next"></script>
    <script src="https://unpkg.com/axios@0.21.1/dist/axios.min.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/bootstrap@4.4.0/dist/css/bootstrap.css" />
</head>
<body>
    <div id="app" class="container-fluid mt-1">
        <div class="row">
            <div class="col-2">
                <div v-if="loadingTestData">
                    <div class="spinner-grow text-secondary" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                </div>
                <div v-else class="list-group">
                    <div v-for="label in labels"
                         :key="label.name"
                         :class="[ 'list-group-item', 'list-group-item-action', label.category === 'test' ? 'bg-light' : '' ]"
                         style="cursor:pointer; overflow:hidden"
                         @click="changeZplData(label.content)">
                        {{ label.name }} <span class="badge bg-info text-white">{{ label.format }}</span>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <textarea class="form-control" v-model="zplData" rows="20" cols="100"></textarea>
                <div class="mt-1 mb-1">
                    Labelformat: 
                    <select v-model="selectedLabelFormatIndex" @change="labelFormatChange">
                        <option v-for="(labelFormat, index) in labelFormats" :key="index" :value="index">{{ labelFormat.width }} mm x {{ labelFormat.height }} mm</option>
                    </select>
                    <br />
                    <input type="text" v-model.number="labelWidth" style="width: 50px" /> mm ({{labelWidthInch}} inches)
                    <input type="text" v-model.number="labelHeight" style="width: 50px" /> mm ({{labelHeightInch}} inches)
                    <input type="text" v-model.number="printDensityDpmm" style="width: 40px" /> dpmm ({{dpi}} dpi)<br />
                </div>
                <button type="button" class="btn btn-primary" @click="render">Render</button>
                <hr />
                Printer IpAddress:<br /><input type="text" v-model="printerIpAddress" style="width: 300px" class="mr-1" />
                <button type="button" class="btn btn-primary" @click="print">Print</button>
            </div>
            <div class="col-6">
                <div v-if="loadingPreview">
                    <div class="spinner-grow text-secondary" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                </div>
                <div v-else>
                    <div v-if="renderResponse">
                        <div v-for="(labelInfo, index) in renderResponse.labels" :key="index">
                            <img :src="`data:image/png;base64,${labelInfo.imageBase64}`" class="img-fluid" style="border:1px solid #ccc" />
                        </div>
                        <div v-if="renderResponse.nonSupportedCommands.length > 0" class="alert alert-warning mt-1" role="alert">
                            <h4>Non-supported commands</h4>
                            <ul>
                                <li v-for="(unknownCommand, index) in renderResponse.nonSupportedCommands" :key="index">
                                    {{unknownCommand}}
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div v-if="renderError" class="alert alert-warning mt-1" role="alert">
                        <h4>Label rendering error</h4>
                        <pre>{{ renderError }}</pre>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <style>
        .list-group-item {
            padding:4px;
        }
    </style>

    <script type="text/javascript">
        const App = {
            data() {
                return {
                    loadingTestData: false,
                    loadingPreview: false,
                    zplData: null,
                    labels: null,
                    renderResponse: null,
                    renderError: null,
                    printDensityDpmm: 8,
                    labelWidth: 102,
                    labelHeight: 152,
                    inch2mm: 25.4,
                    printerIpAddress: null,
                    selectedLabelFormatIndex: null,
                    labelFormats: [
                        {
                            width: 102,
                            height: 152
                        },
                        {
                            width: 54,
                            height: 86
                        }
                    ]
                }
            },
            computed: {
                labelWidthInch() {
                    return (Math.round(this.labelWidth / this.inch2mm * 10) / 10).toFixed(1)
                },
                labelHeightInch() {
                    return (Math.round(this.labelHeight / this.inch2mm * 10) / 10).toFixed(1)
                },
                dpi() {
                    return (Math.round(this.printDensityDpmm * this.inch2mm))
                }
            },
            async created () {
                await this.loadLabelData()
                await this.changeZplData(this.templateLabels[0].content)
            },
            methods: {
                async labelFormatChange() {
                    this.labelWidth = this.labelFormats[this.selectedLabelFormatIndex].width
                    this.labelHeight = this.labelFormats[this.selectedLabelFormatIndex].height
                    this.render();
                },
                async loadLabelData() {
                    try {
                        this.loadingTestData = true
                        const response = await axios.get('api/v1/label')
                        this.labels = response.data.items
                    } finally {
                        this.loadingTestData = false
                    }
                },
                async changeZplData(zplData) {
                    this.zplData = zplData
                    await this.render()
                },
                async render() {
                    this.renderError = null
                    try {
                        this.loadingPreview = true
                        const payload = {
                            zplData: this.zplData,
                            printDensityDpmm: this.printDensityDpmm,
                            labelWidth: this.labelWidth,
                            labelHeight: this.labelHeight
                        }
                        const response = await axios.post('api/v1/viewer', payload)
                        this.renderResponse = response.data
                    } catch (err) {
                        this.renderError = err.response.data
                        this.renderResponse = null
                        console.error(this.renderError)
                    }
                    finally {
                        this.loadingPreview = false
                    }
                },
                async print() {
                    const payload = {
                        zplData: this.zplData,
                        printerIpAddress: this.printerIpAddress
                    }
                    const response = await axios.post('api/v1/print', payload)
                    if (response.status !== 200) {
                        alert('Cannot print')
                    }
                }
            }
        };
        Vue.createApp(App).mount('#app');
    </script>
</body>
</html>