name: Github Registry - Build and push Viewer API

on:
  push:
    branches:
      - master

env:
  PROJECT_NAME: "ZplViewerApi"
  REGISTRY: ghcr.io
  GHA_IMAGE_NAME: ghcr.io/ZplViewerApi
  CONTAINER_REGISTRY_USER: ${{ vars.CONTAINER_REGISTRY_USER }}
  CONTAINER_REGISTRY_TOKEN: ${{ secrets.CONTAINER_REGISTRY_TOKEN }}
  ALLVARS: ${{ toJSON(vars) }}
  ALLSECRETS: ${{ toJSON(secrets) }}

permissions:
  contents: read
  packages: write
  id-token: write

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
    # checkout the repo
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v2

    - name: Log into GHCR
      uses: docker/login-action@v2
      with:
        registry: ${{ env.REGISTRY }}
        username: ${{ env.CONTAINER_REGISTRY_USER }}
        password: ${{ env.CONTAINER_REGISTRY_TOKEN }}
    
    - name: Extract metadata (tags, labels) for Docker
      id: meta
      uses: docker/metadata-action@v3
      with:
        images: ${{ env.GHA_IMAGE_NAME }}
        flavor: |
          latest=false
    - name: Build Docker image
      id: build-and-push
      uses: docker/build-push-action@v4
      with:
        platforms: linux/amd64
        context: src/BinaryKits.Zpl.Viewer.WebApi
        build-args: |
          REQUIREMENTS_TYPE=run
          NOVALIX_ENV=${{ env.GHA_NOVALIX_ENV }}
        push: true
        tags: ${{ steps.meta.outputs.tags }}
        labels: ${{ steps.meta.outputs.tags }}
        cache-from: type=local,src=/tmp/.buildx-back-cache-${{ env.PROJECT_NAME }}
        cache-to: type=local,dest=/tmp/.buildx-back-cache-${{ env.PROJECT_NAME }}-new,mode=max
    - # Temp fixs
      # https://github.com/docker/build-push-action/issues/252
      # https://github.com/moby/buildkit/issues/1896
      name: Move cache
      run: |
        rm -rf /tmp/.buildx-back-cache-${PROJECT_NAME}
        mv /tmp/.buildx-back-cache-${PROJECT_NAME}-new /tmp/.buildx-back-cache-${PROJECT_NAME}
    - name: Remove Docker image
      run: docker rmi $(docker images -q --filter=reference="${{ steps.build-and-push.outputs.digest }}") || true

